@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <br />
    <h2 id="title">Hakkmızda</h2>
    <br />
    <h3>1-)Kimiz Biz</h3>
    <br />
    <p>
        Bizler, bilim ve teknolojiyi kucaklayan, sağlıklı yaşamın değerini ve hayatımızdaki önemini derinden anlayan bir topluluğuz. Teknolojiyi ve bilgiyi kullanarak, her bireyin yaşamlarını iyileştirmesine yardımcı olmayı amaçlayan bir ekibiz.
        Sağlık hedeflerine ulaşmayı hedefleyen herkese araçlar sağlıyoruz.
    </p>
    <br />
    <h3>2-)Misyonumuz: Sağlıklı Yaşam Erişilebilirliği</h3>
    <br />
    <p>Misyonumuz, herkesin sağlık bilincini artırmasına ve daha sağlıklı bir yaşam tarzına sahip olmasına yardımcı olmaktır. Bu yüzden, eğitmenler ve öğrenciler arasında bir köprü oluşturacak, sürekli iletişim kurabilecekleri bir platform oluşturduk. Biz, sağlık bilincinin artmasının ve herkesin wellness yolculuğuna katılabilmesinin önündeki engelleri kaldırmak için varız.</p>
    <br />
    <h3>3-)Vizyonumuz: Her Bireyin Sağlıklı Bir Yaşam Sürdürme Yeteneği</h3>
    <br />
    <p>Vizyonumuz, herkesin yaşam kalitesini iyileştirmesine yardımcı olmaktır. Sağlıklı yaşamın bir hak olduğuna ve eğitimin bu hedefe ulaşmak için en güçlü araçlardan biri olduğuna inanıyoruz. Herkesin sağlıklı bir yaşam tarzına sahip olabileceği ve kendi sağlığını kontrol edebileceği bir dünya hayal ediyoruz.</p>
    <br />
    <h3>4-)Ne Yapıyoruz: Teknolojiyi Sağlıklı Yaşamın Hizmetine Sunuyoruz</h3>
    <br />
    <p>ASP.Net 4.7 MVC ve modern front-end teknolojileri kullanarak iki ayrı panel oluşturduk: bir Eğitmen paneli ve bir Öğrenci paneli. Eğitmenler, öğrencileri ekleyebilir, görev atayabilir ve kendi profilini oluşturabilir. Bu profiller, web sitesinin ana sayfasında görünür hale gelir ve eğitmenlerin online varlığını artırır. Öğrenciler, eğitmenlerden aldıkları bilgileri kullanarak sisteme giriş yapabilir, eğitmen profillerini görüntüleyebilir ve kendilerine atanan görevleri takip edebilirler. Teknolojiyi, kullanıcılarımızın sağlıklı yaşam hedeflerine ulaşmalarına yardımcı olmak için kullanıyoruz.</p>
</main>