
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="blog-details">
    <div class="blog-preview">
        <img src="~/Css/ahana-master/ahana-master/img/blog/big.jpg" alt="" style="width:400px; height:500px;">
    </div>
    <h2>Bir Sağlıklı Yaşam Biçimi: Yoga</h2>
    <p>
        Yoğun kent yaşantısı ve aralıksız çalışma programlarımız bizleri gün geçtikçe artan stresin altına sokuyor. Hızla değişen günümüz şartlarına ayak uydurmak ve sürekli dinamik kalmak için birçok yöntem deniyoruz. Bunların başında spor ve diğer sağlıklı yaşam aktiviteleri geliyor.

        Önemi gün geçtikçe daha fazla anlaşılan, bir sağlıklı yaşam biçimi olan yoga, her geçen gün biraz daha fazla kişi tarafından keşfediliyor. Meraklısı İçin ekibi olarak, kendisi aynı zamanda hekim olan Yoga Academy Antrenörü Deniz İşlier ile yoganın sağlığımız üzerindeki etkilerini ve yogaya başlamak isteyenlerin nelere dikkat etmeleri gerektiğini konuştuk.
    </p>
    <br />
    <h2>Yoga ile sağlıklı yaşam arasındaki bağ nedir?</h2>
    <p>
        Yoga sağlıklı yaşamın ta kendisidir. Herkes yogaya farklı nedenlerle başlar. Kimi fiziksel, psikolojik rahatsızlıklarından kurtulmak, kimisi sportif bir aktivite amacıyla, kimi gevşemek rahatlamak için, kimisi de spiritüel konulara ilgisi ve kişisel gelişim isteğiyle... Sebep ne olursa olsun düzenli uygulamalara başladıktan sonra kişi sağlıklı yaşamın kapılarını açmış olur. Devamlılık sonucunda da hem bedensel, hem zihinsel her türlü olumlu değişiklikler kişide görülmeye başlar.
    </p>
    <div class="blog-gallery">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Css/ahana-master/ahana-master/img/blog/blog-gallery/1.jpg" alt="">
                <img src="~/Css/ahana-master/ahana-master/img/blog/blog-gallery/4.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img src="~/Css/ahana-master/ahana-master/img/blog/blog-gallery/2.jpg" alt="">
                <img src="~/Css/ahana-master/ahana-master/img/blog/blog-gallery/5.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img src="~/Css/ahana-master/ahana-master/img/blog/blog-gallery/3.jpg" alt="">
            </div>
        </div>
    </div>
    <h3>Yoga her yaşta ve her dönemde yapılabilir mi?</h3>
    <p>
        Orijinal Yoga Sistemi sıfırdan yüze her yaşta yapılabilir. Bebek anne karnındayken bile annesinin katıldığı hamileler için yoga programıyla yogaya başlayabilir.Yoga Academy Merkezleri'nde her yaş ve her dönem için kişiye özel programlar uygulanmaktadır.

        Anne ve bebekler için yoga programı, çocuklar için yoga programı, sınav stresi yaşayan öğrencilere yönelik yoga programı, hamileler için yoga programı, altmış beş yaş üstü için yoga programı gibi...

        Her yaşta ve yaşamının her döneminde kişi Orijinal Yoga Sistemi tekniklerini uygulayabilir. Bu şekilde her yaş ve hayatının her döneminden daha çok zevk alır ve sağlıklı olur.
    </p>
    <div class="row">
        <div class="col-sm-7">
            <div class="ed-cata"><p><i class="material-icons">local_offer</i>Sağlık & Yoga</p></div>
        </div>
        <div class="col-sm-5 text-left text-sm-right pt-4 pt-sm-0">

        </div>
    </div>
</div>