
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Events Section -->
<section class="events-page-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <img src="~/Css/ahana-master/ahana-master/img/blog/1.jpg" alt="">
                    <div class="bi-text">
                        <h2><a href="/Home/BlogDetay">Bir Sağlıklı Yaşam Biçimi: Yoga</a></h2>
                        <p>Yoga ile sağlıklı yaşam arasındaki bağ nedir?</p>
                    </div>
                    <div class="bi-footer">
                        <div class="bi-cata">Sağlık & Yoga</div>
                        <div class="bi-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <img src="~/Css/ahana-master/ahana-master/img/blog/2.jpg" alt="">
                    <div class="bi-text">
                        <h2><a href="/Home/BlogDetay2">Egzersiz Nedir?</a></h2>
                        <p>Egzersiz, fiziksel olarak aktif olup kalp atışının dinlenme halinden yüksek seviyelere çıkması halidir.</p>
                    </div>
                    <div class="bi-footer">
                        <div class="bi-cata">Sağlık & Eğzersiz</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Events Section end -->
