
@{
    ViewBag.Title = "BlogDetay2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="blog-details">
    <div class="blog-preview">
        <img src="~/Css/ahana-master/ahana-master/img/blog/2.jpg" alt="" style="width:300px; height:500px;">
    </div>
    <h2>Egzersiz Nedir?</h2>
    <p>
        Egzersiz, fiziksel olarak aktif olup kalp atışının dinlenme halinden yüksek seviyelere çıkması halidir. Fiziksel ve zihinsel sağlık için egzersiz son derece önemlidir.

        Ev içerisinde temizlik yapmak, yürüyüşe çıkmak, bahçeyi ekip biçmek veya bir spor salonunda antrenman yapmak dahil birçok egzersiz çeşidi vardır.

        Düzenli egzersiz daha aktif ve sağlıklı bir beden ile daha iyi bir ruh hali için elzemdir. Her gün herhangi bir yoğunlukta egzersiz yapmak, genel sağlığın iyileştirilmesine katkıda bulunur.
    </p>

    <h3>Egzersiz Türleri Nelerdir??</h3>
    <p>
        Egzersiz kabaca 3 ana türe ayrılır:

        • Aerobik

        • Anaerobik

        • Çeviklik egzersizleri

        Aerobik Egzersiz Nedir?

        Aerobik egzersiz genel olarak vücudun oksijeni daha iyi kullanmasını amaçlar. Uzun sürer ve genellikle orta şiddette uygulanır.

        Aerobik egzersizde en az 20 dakika aktif olmak hedeflenir.

        Aerobik Egzersiz Faydaları:

        Akciğer ve kalp kaslarını geliştirir
        Kan dolaşımını iyileştirir
        Kalp hastaları, diyabet gibi kronik hastalıkların riskini azaltır
        Uykuyu iyileştirir
    </p>
    <br />
    <h3>Anaerobik Egzersiz Nedir?</h3>
    <p>
        Anaerobik egzersiz genel olarak enerji için oksijen kullanmaz. Bu egzersizler, güç kuvvet ve kas kütlesi oluşturmak için tercih edilir.

        Ağırlık kaldırma, kısa mesafe koşuları (sprint), interval antrenmanlar gibi anaerobik egzersizler yüksek yoğunluklu hareketler olup genellikle 1-2 dk süreyle uygulanırlar.

        Genel olarak egzersiz yapmak kalp sağlığına çok faydalı olsa da anaerobik egzersizlerin sağlık etkileri oldukça yüksektir.
    </p>
    <div class="row">
        <div class="col-sm-7">
            <div class="ed-cata"><p><i class="material-icons">local_offer</i>Sağlık & Eğzersiz</p></div>
        </div>
        <div class="col-sm-5 text-left text-sm-right pt-4 pt-sm-0">
        </div>
    </div>
</div>